::before, ::after {
  margin:0;
}

body {
  margin: auto;
}

/* .top-section-container, .key-benefits {
  margin: auto;
} */

.top-section-container, .top-bg-wrapper {
  display: grid;  
  width: 1028px;
  height: 532px;
}

.top-bg-wrapper {
  position: absolute;
}

/* .top-bg-wrapper {grid-template-columns: repeat(18, 55px);} */

.bg-wrapper-left {
  background: linear-gradient(312.73deg, rgba(217, 217, 217, 0.44) 17.61%, rgba(217, 217, 217, 0) 55.85%);
  width: 884.5px;
  height: 517px;
  position: relative;
  overflow: hidden;
  clip-path: polygon(0 0, 100% 0, 100% 81%, 0% 100%);
}

.bg-wrapper-right {
  position: absolute;
  background-color: #E1E7EF;
  width: 316px;
  height: 443px;
  left: 711.5px;
  clip-path: polygon(54% 0%, 100% 0, 100% 91%, 10% 98%);
}

.header, .navbar {
  position: absolute;
  width: 1024px;
  height: 86px;
}

.header {
  position: absolute;
  width: 1024px;
}

.navbar {
  padding: 10px;
  position: relative;
  display: grid;
  align-content: center;
}

.navbar-nav {
  display: flex;
  align-items: center;
  width: 471px;
  height: 57px;
  padding: 6px 14px;
}  

.navbar .container {
  display: flex;
  align-items: center;
}


.navbar-toggler {  
  display: block;
  position: absolute;
  right: 20px;
  top: 10px;
  outline: none;
  background-color: transparent;
  border: 1px solid transparent;
}

.open,
.brand-section-title,
.plan-header-per,
.plan-header-freq 
 {
  font-size: 20px;
}

.open {
  top: 10px;
  color: black;
  cursor: pointer;
  pointer-events: none;
}

[aria-controls="navbarDropdown"] {
  display: none;
}

.navbar .container {
  display: flex;
  align-items: center;
}

.navbar-brand {
  margin-right: auto;
  padding: 0 0 0 20px;
  width: 154.9px;
  height: 46.1px;
  transition: ease-in-out 0.3s;
}

.navbar-nav ul, .learn-more, .hubspot-title{
  height: 17px;
}

.navbar-nav ul{
  display: flex;
  align-items: center;
  width: 311px;
  gap: 20px;
}

.nav-link a, 
.left-person-title,
.opening-wrapper .tagline,
.learn-more,
.hubspot-title,
.item-info,
.benefit-card-title p,
.tell-us-more textarea, 
.checkbox-detail, 
.privacy, 
.contact-info li, 
.footer-col li,
#location option,
.copyright, 
.copyright-disclaim
 {
  font-size: 14px;
}

.nav-link a, 
.left-person-title,
.opening-wrapper .tagline,
.learn-more,
.hubspot-title
{
  line-height: 16.94px;
}

.nav-link a {
  color: #677788;
}

.content-wrapper {
  margin-top: 86px;
  position: absolute;
  display: flex;
  flex-direction: row;
  padding: 0px 30px;
}

.content-left, .content-right {
  margin-top: 40px;
  width: 477px;
  height: 406px;
}

.content-left {
  padding: 0 0 60px 0;
}

.play-button-wrapper {
  margin-top: 25px;
  display: flex;
  align-items: center;
}

.learn-more, 
.sketch-icon,
.hubspot-name,
.hubspot-title,
.brand-section-title,
.item-title,
.hire-us-title,
.form-instruction,
.privacy
 {
  font-weight: 700;
}

.learn-more {
  width: 78px;
  color: #2476FF;
}

.icon-wrapper {
  position: relative;
}

.atlassian, .asana, .paypal, .weave, .calendar {
  position: absolute;
  background: white;
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 80px;
  height: 80px;
  border-radius: 40px;
  padding: 16px;
}

.google, .googlea {
  position: absolute;
  background: white;
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 60px;
  height: 60px;
  border-radius: 30px;
  padding: 10px;
}

.google, 
.atlassian, 
.asana 
{top: 10px;}

.google {left: 64px;}
.atlassian {left: 175px;}
.asana {left: 380px;}

.paypal, 
.weave
{top: 172px;}

.paypal{left: 44px;}
.weave {left: 262px;}

.googlea {
  top: 290px;
  left: 155px;
}

.calendar {
  top: 310px;
  left: 364px;
}

.key-benefits {
  height: 655px;
  padding: 120px 0 80px 0;
}

.title-wrapper {
  width: 100%;
  height: 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-wrapper p, .benefit-card-title p  {
  line-height: 24px;
}

.title-wrapper p,
.benefit-card-title h4, 
.item-name,
.pricing-statement,
.plan-detail,
.hire-us-opening, 
.hire-us-phrase,
.form-instruction,
#location option
 {
  font-size: 16px;
}

.title-wrapper p {
  text-align: center;
}

.card-wrapper {
  display: flex;
  height: 330px;
  padding: 10px 30px;
  justify-content: space-between;
  margin-top:40px;
  margin-bottom: 40px;
}

.benefit-card {
  width: 218.5px;
  height: 310px;
  border: 1px;
  padding: 20px;
  box-shadow: 0 10px 20px 0 #00000026;
}

.benefit-card img {
  width: 50px;
  height: 50px;
}

#premium {
  display: flex;
  align-items: center;
}

.sketch-icon {
  margin-left: 5px;
  display: flex;
  align-items: center;
  width: 60px;
  height: 23px;
  border-radius: 15px;
  background-color: #01C9A7;
  color: white;
  font-size: 12px;
  line-height: 14.52px;
  padding: 4px 10px;
}

.benefit-card-title h4, .item-name {
  line-height: 19.36px;
}

.banner {
  height: 550px;
  /* margin: auto; */
  padding: 0 30px 80px 30px;
}

.banner-content {
  background-color: #F8FAFE;
  display: flex;
  width: 964px;
  height: 470px;
}

.banner-left {
  padding: 10px 30px;
  width: 450px;
  height: 470px;
}

.banner-left-about p {
  margin-top: 150px;
  color: #000000;
  width: 390px;
  height: 62px;
  font-size: 26px;
  line-height: 31.47px;
}

.banner-right {
  width: 504px;
  height: 470px;
}

.banner-right img {
  margin-top: 117px;
  width: 100%;
}

.why-front {
  /* margin: auto; */
  height: 354px;
  padding: 0px 0px 80px 0px;
}

.list-wrapper {
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 100%;
  height: 145px;
  padding: 0 34px;
}

.list-item {
  text-align: center;
  width: 239px;
  padding: 26px 0px;
}

.circle-wrapper {
  display: flex;
  width: 239px;
  justify-content: center;
  align-items: center;
}

.list-circle {
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  padding: 10px;
  margin: 0 4px;
  background-color: #ECF2FF;
  align-items: center;
  justify-content: center;
}

.circle-wrapper span {
  background-color: #E6E9F2;
  display: flex;
  height: 1px;
  width: 90.5px;
}

.circle-wrapper .hide-line {
  background-color: transparent;
}

.list-bullet {
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: #0066FF;
}

.item-name {
  color: #000000;
  margin-top: 40px;
  width: 239px;
  height: 19px;
  text-align: center;
  padding: 0 10px;
}

.banner-play-section {
  /* margin: auto; */
  height: 497px;
  padding: 0 30px 80px 30px;
}

.banner-frame {
  position: relative;
  width: 964px;
  height: 497px;
}

.play-button {
  position:absolute;
  width: 70px;
  height: 70px;
  top: 172px;
  left: 447px;
  border-radius: 35px;
  padding: 10px 0 10px 4px;
  color: #FFFFFF;
  box-shadow:0 0 10px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-button a i{
  color: #000000;
  font-weight: 900;
  width: 15px;
  height: 20px;
  line-height: 20px;
  align-items: center;
}

.hubspot-section {
  display: flex;
  height: 560px;
  /* margin: auto; */
  gap:60px;
}

.left-part {
  position: relative;
  width: 452px;
}

.download-image {
  position:absolute;
  width: 371px;
  height: 425px;
  left: 81px;
}

.dot-bg {
  position: absolute;
  width: 200px;
  height: 369.28px;
  top: 111px;
  left: 28px;
  z-index: -1;
}

.right-part {
  position: relative;
  width: 512px;
  height: 560px;
  padding: 0 30px 0 0;
}

.hub-description {
  margin-top: 80px;
  width: 482px;
  height: 191.18px;
}

.hubspot1 {
  width: 100px;
  height: 33.18px;
  margin-bottom: 30px;
}

.hubspot-test {
  width: 482px;
  height: 128px;
  font-size: 22px;
  line-height: 32px;
  color: #000000;
}

.person-info {
  margin-top:45px;
  width: 147px;
  height: 143px;
  padding: 0 20px 100px 0;
}

.hubspot-name, 
.item-title, 
.left-person-name, 
.item-title {
  line-height: 21.78px;
}

.hubspot-name, 
.item-title, 
.left-person-name, 
.footer-col h3  {
  font-size: 18px;
}

.hubspot-name {
  width: 125px;
  height: 22px;
  color: #000000;
  margin-bottom: 4px;
}

.hubspot-title {
  width: 127px;
}

.brand-section {
  height: 208px;
  padding: 0 0 80px 0;
}

.brand-section-title {
  height: 24px;
  text-align: center;
  line-height: 24.2px;
  color: #5F6368;
}

.brand-list {
  margin-top: 40px;
  margin-bottom: 100px;
  padding: 0 0 30px 0;
}

.brand-list ul{
  display: flex;
  justify-content: space-around;
}

.brand-list ul li {
  width: 112.8px;
  height: 40px;
}

.pricing-section {
  height: 692px;
  padding: 0 0 120px 0;
}

.pricing-statement {
  width: 600px;
  height: 19px;
  line-height: 19.36px;
  text-align: center;
}

.plan-features-list {
  display: flex;
  height: 452px;
  padding: 0 44px;
  margin-top: 60px;
}

.plan-wrapper {
  width: 370px;
  height: 452px;
  border: 1px solid #FFFFFF;
  padding: 50px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);
}

.plan-header {
  width: 290px;
  height: 194px;
}

.plan-price, .plan-period {
  display: flex;
  align-items: flex-end;
}

.plan-period {
  width: 44px;
  height: 33px;
  padding: 0 0 9px 0;
}

.plan-header-price {
  width: 63px;
  height: 61px;
  font-size: 50px;
  line-height: 60.51px;
  color: #000000;
}

.plan-header-per {
  width: 7px;
  height: 24px;
  line-height: 23.87px;
}

.plan-header-freq {
  width: 30px;
  height: 24px;
  line-height: 23.87px;
  padding: 0 7px;
}

.plan-detail {
  width: 290px;
  height: 72px;
  line-height: 24px;
}

.disclaimer {
  margin-top: 24px;
  width: 136px;
  height: 15px;
  font-size: 12px;
  line-height: 14.52px;
}

.plan-features-wrapper {
  width: 536px;
  height: 452px;
  display: flex;
  flex-direction: column;
}

.plan-row-one, .plan-row-two {
  display: flex;
  width: 536px;
}

.plan-row-one { height: 241px; }
.plan-row-two { height: 201px; }

.top-left-content, 
.top-right-content, 
.bottom-left-content, 
.bottom-right-content {
  width: 263px;
  border: 1px;
  padding: 20px;
}

.top-left-content{ height: 241px; }
.top-right-content{ height: 219px; }
.bottom-left-content{ height: 201px; }
.bottom-right-content{ height: 197px; }

.item-detail {
  width: 223px;
}

.top-left-content .item-detail { height: 201px; }
.top-right-content .item-detail { height: 179px; }
.bottom-left-content .item-detail { height: 161px; }
.bottom-right-content .item-detail { height: 157px; }

.item-image img {
  margin-bottom: 20px;
  width: 50px;
  height: 50px;
}

.item-title {
  display: flex;
  margin-bottom: 20px;
  width: 224px;
  height: 23px;
  color: #000000;
}

.item-title span {
margin-left: 10px;
}

.item-info { line-height: 22px; }

.hire-us-section {
  display: flex;
  /* margin: auto; */
  height: 708px;
  background-color: #20335B;
}

.hire-us-left, .hire-us-right {
  width: 514.5px;
  height: 708px;
}

.hire-us-left { padding: 150px 0 0 70px; }

.hire-us-left-top {
  width: 363px;
  height: 204px;
}

.hire-us-title {
  font-size: 26px;
  padding: 0 0 10px 0;
  line-height: 31.47px;
  align-items: center;
  color: #FFFFFF;
}

.hire-us-opening, .hire-us-phrase {
  line-height: 24px;
}

.hire-us-opening{padding: 0 0 10px 0;}

.hire-us-left-top hr {
  width: 180px;
  height: 1px;
  color: #FFFFFF;
  float: left;
}

.hire-us-phrase { 
  font-style: italic;
  padding: 10px 0 0 0;
  color: #FFFFFF;
}

.hire-us-left-bottom {
  width: 208px;
  height: 153px;
  margin-top: 50px;
}

.left-person-name {
  color: #FFFFFF;
  margin-bottom: 4px;
}

.hire-us-images {
  width: 200px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hire-us-image img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin-top: 80px;
}

.image-selected img {
  width: 60px;
  height: 60px;
  border-radius: 30px;
}

.hire-us-right {
  padding: 30px;
}

.form {
  width: 454.5px;
  height: 648px;
  border-radius: 10px;
  padding: 30px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-data,
.form-instruction,
.form-group, 
.tell-us-more textarea,
.form-group-bottom
 {
  width: 392px;
}

.form-data {
  height: 506px;
}

.form-instruction {
  height: 48px;
  line-height: 24px;
  color: #000000;
}

.form-group {
  height: 44px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.form-group input, .form-group select {
  width: 186px;
  height: 44px;
  border-radius: 5px;
  border: 1px solid #E6E8F2;
  padding: 10px;
  color: #E6E8F2;
}

.form-group .budget {
  margin-right: 20px;
}

#budget, #country{
  color: #000000; /* Change the color to match your design */
}

.tell-us-more textarea {
  height: 150px;
  border-radius: 5px;
  border: 1px solid #E6E8F2;
  padding: 10px;
  font-family: sans-serif;
}

.tell-us-more textarea, 
.checkbox-detail, 
.privacy, 
.copyright-disclaim {
  line-height: 22px;
}

.tell-us-more textarea, 
.checkbox-detail, 
.privacy,
.contact-info li, 
.footer-col li,
li .hiring,
.copyright, 
.copyright-disclaim,
.plan-header-per,
.plan-header-freq
 {
  font-weight: 510;
}

.tell-us-more textarea, .checkbox-detail, .privacy {
  color: #828282;
}

.form-group-bottom {
  height: 76px;
  border-radius: 5px;
  display: flex;
  align-items: flex-start;
}

.form-group-bottom input {
  width: 25px;
  height: 24px;
  border-radius: 3px;
  padding: 4px;
  border: 1px solid #E6E8F2;
}

.checkbox-info {
  margin-left: 10px;
  padding: 4px;
  display: flex;
  flex-direction: column;
}

.privacy {
  color: var(--font-color-link);
}

.get-started {
  display: flex;
  width: 117px;
  height: 45px;
  border-radius: 30px;
  margin-top: 20px;
  background-color: var(--font-color-link);
  align-items: center;
  justify-content: center;
}

.button-text {
  color:#FFFFFF;
}

.footer-section {
  /* margin: auto; */
  width: 1026px;
  height: 541px;
  padding: 80px 30px 40px 30px;
}

.footer-top {
  display: flex;
}

.footer-contact {
  width: 251px;
  height: 93.76px;
  margin-right: 20px;
}

.footer-contact img {
  width: 100px;
  height: 29.76px;
  margin-bottom: 10px;
}

.footer-columns {
  width: 675px;
  height: 166px;
  display: flex;
  justify-content: space-between;
}

.footer-col h3 {
  margin: 0 0 20px 0;
  font-family: sans-serif;
  font-weight: 860;
  line-height: 21.48px;
  color: #000000;
}

.contact-info li, .footer-col li {
  margin: 10px 0;
  display: flex;
  line-height: 16.71px;
  color: #677788;
}

li .hiring {
  width: 55px;
  height: 14px;
  display: flex;
  align-items: center;
  border-radius: 3px;
  padding: 2px 4px;
  margin-left: 10px;
  font-size: 8px;
  background-color: #2576FF;
  color: #FFFFFF;
}

.contact-info li i, .footer-col li i{
  margin-right: 10px;
}

.footer-hr {
  width: 966px;
  height: 1px;
  color: #E6E9F2;
  margin: 49px 0;
}

.footer-bottom {
  width: 966px;
  height: 174px;
  display: flex;
  flex-direction: column;
}

.bottom-header {
  width: 966px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.breadcrumbs span {
  padding: 0 2px;
}

.bottom-right {
  width: 368px;
  height: 30px;
  display: flex;
  justify-content: flex-end;
}

.social-icons ul {
  display: flex;
}

.social-icons li{
  width: 30px;
  height: 30px;
  border-radius: 5px;
  padding: 0 4px;
  margin: 0 5px;
  background-color: #ECF2FF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.location-wrapper {
  width: 168px;
  height: 30px;
  display: flex;
  padding: 0 5px;
  align-items: center;
  margin-left: 5px;
  background-color: #ECF2FF;
  justify-content: space-evenly;
}

.location-wrapper img{
  width: 14px;
  height: 14px;
}

.location-wrapper select {
  border: none;
  display: flex;
  background-color: #ECF2FF;
}

#location option {
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 89px;
  font-weight: 400;
  line-height: 16.1px;
  color: #000000;
}

.copyright-info {
  display: flex;
  flex-direction: column;
  width: 966px;
  height: 104px;
}

.copyright, .copyright-disclaim {
  text-align: center;
  margin-bottom: 21px;
}

.copyright {line-height: 16.71px;}

/* #scrollUp {
  background-color: transparent;
  background-image: linear-gradient(90deg, #9ccdfe 0%, #94aafd 100%);
  color: var(--white);
  font-size: var(--size-20);
  height: var(--size-50);
  width: var(--size-50);
  line-height: var(--size-50);
  position: fixed;
  bottom: var(--size-30);
  right: var(--size-30);
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  z-index: 100;
} */


.benefit-card:hover {
  animation: card 300ms ease-in-out 0s 1 normal both;
  }


  @keyframes card {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.25);
    }
  }